/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: black;
}
.landing {
  width: 70%; 
  margin-left: 15%;
}
#mirador {
  height: 75vh;
  position: relative;
  width: 100%;
}
